Assignments/Assignment[[:space:]]4/models/*.keras filter=lfs diff=lfs merge=lfs -text
Assignments/Assignment[[:space:]]4/features/*.npz filter=lfs diff=lfs merge=lfs -text
Assignments/Assignment[[:space:]]4/models/*.tflite filter=lfs diff=lfs merge=lfs -text
